<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khedrandbasuoni.baytifood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaytiFood">
        <activity
            android:name=".presentation.ui.product.ProductActivity"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity
            android:name=".presentation.ui.profile.ProfileActivity"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".presentation.ui.newPassword.NewPasswordActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".presentation.ui.verifyCode.VerifyCodeActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".presentation.ui.resetPassword.ResetPasswordActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <activity
            android:name=".presentation.ui.signUp.SignUp"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".presentation.ui.welcome.WelcomeActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible">
        </activity>
        <activity
            android:name=".presentation.ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>